.sideNav{
    width: 250pt;
    position: relative;
    left: 40px;
    padding: 20px;
    text-align: left;
    height:600pt;
    overflow: scroll;border: 1px solid rgb(215, 211, 211);
    border-radius: 10px;

    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    */
  }
  .container {
   position: relative;
   overflow: hidden;
   overflow-y: scroll;
  }
  .C_navbar{
    background-color: rgb(52, 91, 91);
    color: white;
    position: fixed;
    width: 100%;
    margin: 0%;
    top: 0%;
    left: 0%;
    overflow: hidden;
    z-index: 1; 
  
  }
  .C_navbar p{
    font-size: 24px;
    margin-left: 10pt;
  }
  .main {  
    width: 100%;
overflow: hidden;
margin-top: 60pt;
height: 100vh;
   }
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0%;
    right: 0%;
    width: 100%;
    z-index: 1;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .contentContainer{
    width: 80%;
  height: 700pt;
  margin: auto;
  display:flex;
  margin-top: 24pt;
  }
  .sideNavTab{
    margin-left: 20pt;
    margin-top: 10pt;
    color: rgb(123, 121, 121);
    display: grid;
  }
  .itemContainer p{
    font-size: 14pt;
    text-transform: uppercase;
  }
  .itemContainer a{

  }